*{
    margin:0;
	padding:0;
	box-sizing:border-box;
}
.about-sec{
     background:#000;
	 padding:100px 0;
	 color:#fff;
}
.container{
    width:90%;
	margin:auto;
}
.row{
    display:flex;
}
.col{
    width:50%;
}
.col-img img{
   max-width:100%;
 }
 .card{
     display:flex;
	 background:#ffad42;
	 padding:20px;

}
.title{
     text-transform:uppercase;
	 color:#ffad42;
     font-size:23px;
}
.heading{
     font-size:50px;
	 margin:20px 0;
}
.para{
    font-size:23px;
	margin:20px 0;
	line-height:30px;
}
.content{
    font-size:20px;
	line-height:30px;
}
.img img{
    max-width:100%;
}
.img{
    width:50%;
}
    
@media(min-width:320px){
      .container{
	        width:100%;
	   }
	   .col{
	       width:100%;
		   }
}
@media(min-width:690px){
          .container{
	        width:90%;
	   }
	   .col{
	     width:50%;
	}
	
}
@media(min-width:1020px){
     .col{
	      width:50%;
		 }
}